<div>
    <div class="main-container">
        <div
            class="editor-container editor-container_document-editor editor-container_include-annotations"
            id="editor-container"
        >
            <div
                class="editor-container__menu-bar"
                id="editor-menu-bar"
            ></div>
            <div
                class="editor-container__toolbar"
                id="editor-toolbar"
            ></div>
            <div class="editor-container__editor-wrapper">
                <div class="editor-container__editor">
                    <div id="editor"></div>
                </div>
                <div class="editor-container__sidebar">
                    <div id="editor-annotations"></div>
                </div>
            </div>
        </div>
        <div
            class="revision-history"
            id="editor-revision-history"
        >
            <div class="revision-history__wrapper">
                <div
                    class="revision-history__editor"
                    id="editor-revision-history-editor"
                ></div>
                <div
                    class="revision-history__sidebar"
                    id="editor-revision-history-sidebar"
                ></div>
            </div>
        </div>
    </div>
</div>