.cards{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background: rgb(223, 238, 223);
}

.card{
    width: 500px;
    margin: 5px;
}