<p>material-date-picker works!</p>

<mat-form-field>
	<mat-label>Enter a date range</mat-label>
	<mat-date-range-input #dateRangeInput [rangePicker]="picker" [min]="today">
		<input
			matStartDate
			placeholder="Start date"
		/>
		<input
			matEndDate
			placeholder="End date"
		/>
	</mat-date-range-input>
	<mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
	<mat-datepicker-toggle
		matIconSuffix
		[for]="picker"
	></mat-datepicker-toggle>
	<mat-date-range-picker
        [opened]="true"
        [startAt]="tomorrow"
        [startView]="'year'"
		(opened)="opened()"
		(closed)="closed()"
		(monthSelected)="monthSelected()"
		(viewChanged)="viewChanged()"
		(yearSelected)="yearSelected()"
		#picker
	></mat-date-range-picker>
</mat-form-field>
